.root {
  position: relative;
  padding: 40px;
  display: flex;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
}

.copy_icon {
  position: absolute;
  right: 50px;
  width: 20px;
}
